body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  box-sizing: content-box;
}

.container {
  max-width: 1144px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0 5px;
  cursor: pointer;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  text-shadow: 2px 2px rgb(23, 43, 56);
  height: 46px;
  color: rgb(246, 255, 164);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 50px;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

.header {
  background-image: linear-gradient(
      rgba(186, 112, 255, 0.192),
      rgba(1, 175, 228, 0.295)
    ),
    url("../images/tm.jpg");
  border: 3px slategray solid;
  border-radius: 4px;
  border-bottom: none;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, 100px auto;
  background-position: center, 50px;
  padding: 20px 0;
}

.header-nav {
  display: flex;
  gap: 32px;
  margin-left: 200px;
}

.header-nav-list {
  display: flex;
  gap: 32px;
}

.hero {
  max-width: 1144px;

  background-image: linear-gradient(
      rgba(186, 112, 255, 0.192),
      rgba(1, 175, 228, 0.295)
    ),
    url("../images/lavender-field.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, 1144px auto;
  background-position: center, center;
  border: 3px slategray solid;
  border-radius: 4px;
}

.hero-subcontainer {
  margin-left: 50px;
  margin-top: 120px;
  margin-bottom: 100px;
}

.hero-title {
  background-color: transparent;
  width: fit-content;
  color: rgb(207, 255, 167);
  border-radius: 4px;

  text-shadow: 2px 2px rgb(23, 43, 56);
  padding: 10px 5px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}

.hero-text {
  background-color: transparent;
  width: fit-content;
  color: rgb(246, 255, 164);
  border-radius: 4px;

  text-shadow: 2px 2px rgb(23, 43, 56);
  padding: 10px 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}

.hero-subtitle {
  background-color: transparent;
  width: fit-content;
  color: rgb(207, 255, 167);
  border-radius: 4px;

  text-shadow: 2px 2px rgb(23, 43, 56);
  padding: 10px 5px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}

.team-sctn-icon-list {
  max-width: 30%;
  width: fit-content;
  margin-left: 50px;
  display: flex;
  gap: 24px;
}

.team-icon-item {
  width: 40px;
  height: 40px;
}

.team-icon-link {
  box-shadow: 3px 3px 3px 3px rgba(79, 13, 165, 0.2);
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404bbf;
}

.footer {
  border: 3px slategray solid;
  border-radius: 4px;
  border-top: none;
  padding: 30px 0;
  background-image: linear-gradient(
    rgba(1, 175, 228, 0.295),
    rgba(186, 112, 255, 0.192)
  );
}
