*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  box-sizing: content-box;
}

.container {
  max-width: 1144px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  text-shadow: 2px 2px rgb(23, 43, 56);
  height: 46px;
  color: rgb(246, 255, 164);
  border: 2px solid;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

button:hover,
button:focus {
  background-color: rgb(87, 59, 100);
}

.header {
  background-image: linear-gradient(
      rgba(1, 175, 228, 0.295),
      rgba(186, 112, 255, 0.192)
    ),
    url("../images/tm.jpg");
  border: 2px slategray solid;
  border-radius: 4px 4px 0 0;

  background-repeat: no-repeat, no-repeat;
  background-size: cover, 120px auto;
  background-position: center, 50px;
  padding: 20px 0;
  display: flex;
}

.header-nav {
  width: fit-content;

  gap: 24px;
  margin-left: 20%;
}

.header-nav-list {
  display: flex;
  gap: 20px;
}

.header-nav-list-item {
}

.contacts {
  display: flex;
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  width: fit-content;
  display: flex;

  gap: 24px;
}

.lng-nav {
  margin-left: auto;
  margin-right: 5%;
}

.hero {
  background-image: linear-gradient(
      rgba(186, 112, 255, 0.192),
      rgba(1, 175, 228, 0.294)
    ),
    url("../images/lavender-field.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, 800px auto;

  border-bottom: none;
  display: flex;
  padding: 50px 20px;
}

.hero-subcontainer {
  max-width: fit-content;
  background-color: #1b004da8;
  padding: 30px 20px;

  border-radius: 4px;
  margin-left: auto;
}

.hero-title {
  background-color: #1b004d9a;
  width: fit-content;
  color: rgb(207, 255, 167);
  border-radius: 4px;
  padding: 0 10px;
  text-shadow: 2px 2px rgb(23, 43, 56);

  font-weight: 500;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-text {
  background-color: #1b004d9a;
  width: fit-content;
  color: rgb(246, 255, 164);
  border-radius: 4px;
  padding: 0 10px;
  text-shadow: 2px 2px rgb(23, 43, 56);
  margin: 10px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-subtitle {
  background-color: #1b004d9a;
  width: fit-content;
  color: rgb(207, 255, 167);
  border-radius: 4px;
  padding: 0 10px;
  text-shadow: 2px 2px rgb(23, 43, 56);

  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 40px 0;
}

.features {
  display: block;

  padding: 50px 20px;
  max-width: 1144px;

  background-image: linear-gradient(rgba(1, 175, 228, 0.295));
  align-items: center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, 500px auto;
  background-position: center, right bottom;
}

.features-title {
  background-color: #1b004d9a;
  width: fit-content;
  color: rgb(207, 255, 167);
  border-radius: 4px;
  padding: 0 10px;
  text-shadow: 2px 2px rgb(23, 43, 56);
  font-weight: 500;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  margin-bottom: 50px;
  display: block;
}

.features-box {
  width: 97%;
  margin: 0 auto;
}

.features-list {
  width: 100%;
  height: auto;
  position: relative;
  background-image: linear-gradient(#1b004d86),
    url("../images/lavender-feat.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, 450x auto;
  background-position: center, right bottom;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.features-items {
  overflow: visible;
  position: relative;
  padding: 20px;
  z-index: 0;
}

.feature-item-box {
  border-radius: 4px;
  background-color: #1b004da4;
  width: 36%;
}

.features-items::after {
  content: "";

  overflow: visible;
  position: absolute;
  top: 15px;
  right: 0;
  width: 60%;
  height: 600px;
  background-image: url("../images/lavender-decor.jpg");
  background-repeat: no-repeat;
  background-size: contain contain;
  background-position: center;
  transform: translateX(100%);
  transition: transform 0.7s ease;
  z-index: -1;
  padding: 0;
  pointer-events: none;
}

.item-two::after {
  top: -150px;

  background-image: url("../images/lawender-cofee.jpg");
}

.item-three::after {
  top: -300px;

  background-image: url("../images/lavender-oil.jpg");
}

.item-four::after {
  top: -470px;
  background-image: url("../images/img-staff.jpg");
}

.features-items:hover::after {
  transform: translateX(0);
}

.features-items:hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgb(87, 59, 100, 0.5);
  cursor: pointer;
}

.features-subtitle {
  background-color: #1b004d9a;

  color: rgb(207, 255, 167);
  border-radius: 4px;
  padding: 0 10px;
  text-shadow: 2px 2px rgb(23, 43, 56);

  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 20px 0;
}

.features-text {
  background-color: #1b004d9a;

  color: rgb(246, 255, 164);
  border-radius: 4px;
  padding: 0 10px;
  text-shadow: 2px 2px rgb(23, 43, 56);
  margin: 10px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.team-sctn-icon-list {
  max-width: 30%;
  width: fit-content;
  margin-left: 50px;
  display: flex;
  gap: 24px;
}

.team-icon-item {
  width: 40px;
  height: 40px;
}

.team-icon-link {
  box-shadow: 3px 3px 3px 3px rgba(79, 13, 165, 0.2);
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404bbf;
}

.footer {
  border: 2px slategray solid;
  border-radius: 0 0 4px 4px;

  padding: 30px 0;
  background-image: linear-gradient(
    rgba(1, 175, 228, 0.295),
    rgba(186, 112, 255, 0.192)
  );
}
