.hero {
  padding: 400px 0;
  background-image: linear-gradient(
      rgba(118, 125, 255, 0.2),
      rgba(222, 224, 255, 0.5)
    ),
    url(../images/tm.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 3px slategray solid;
  max-width: 1040px;
  margin: 0 auto;
  border-radius: 10px;
}

h1 {
  max-width: 40%;
  position: relative;
  top: 50px;
  left: 100px;
  background-color: rgb(71, 71, 255);
  text-align: center;
  color: rgb(252, 255, 49);
  border-radius: 4px;
  box-shadow: 3px;
  text-shadow: 2px 2px rgb(0, 153, 255);
}
